.active a{
	background: red !important;
	border: red
}

.pagination a{
	color: red
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  overflow: hidden;
}

.card {
	overflow: hidden;
}

#root {
	width: 100vw;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}

.dropdown { padding-top: 1px !important;}

.no-hover-underline .no-hover-underline:hover{
	text-decoration: none !important;
	color: grey;
}

.no-hover-underline {
	color: #465057;
}

body {
	font-family: 'Raleway', sans-serif;
}

.heading {
  font-family: 'Blinker', sans-serif;
  font-weight: 700 !important;
}

.heading-2 {
  font-family: 'Blinker', sans-serif;
  vertical-align: middle;
  padding-bottom: 6px;
}

.heading-3 {
  font-family: 'Blinker', sans-serif;
  vertical-align: middle !important;
  font-weight: 700;
}

.heading-4 {
  font-family: 'Blinker', sans-serif;
  font-style: italic;
}

.nav-text {
  font-family: 'Blinker', sans-serif;
	font-weight: 300;
}

.subheading {
  font-weight: 300 !important;
  font-family: 'Raleway', sans-serif;
}

.subheading-bold {
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
}

.card-text {
  font-family: 'Raleway', sans-serif;
}

.card-title {
  font-family: 'Blinker', sans-serif;
}



