.active a{
	background: red !important;
	border: red
}

.pagination a{
	color: red
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  overflow: hidden;
}

.card {
	overflow: hidden;
}

#root {
	width: 100vw;
}
